{% extends 'base.html' %}
{% block content %}
{% if messages %}
      {% for message in messages %}
        <div{% if message.tags %} class="alert alert-info" role="alert"{% endif %}>{{ message }}
          <a href="{% url 'mis_restaurantes' %}" class="btn btn-light" style="color: #F27D16;">Ver mis restaurantes</a>
        </div>

      {% endfor %}
  {% endif %}
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
  <div class="container text-center" style="margin-top: 20px;">
    <div class="container d-flex justify-content-center" style="padding: 10px 10px 10px 10px; margin-bottom: 10px;">
      <p class="h1">Crea un nuevo restaurante</p>
    </div>
      <div class="row align-items-start">
        <div class="col-4">
          <div class="row">
            {{ FotoForm.Imagen.label_tag }}
          </div>
          <div class="row">
            {{ FotoForm.management_form }}
            {% for form in FotoForm %}
            <input type="file" name="{{ FotoForm.Imagen.name }}" id="{{ FotoForm.Imagen.id_for_label }}" multiple>
            {% endfor %}
          </div>
          
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              {{InfoForm.Nombre.label_tag}}
              {{InfoForm.Nombre}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{InfoForm.Pais.label_tag}}
              {{InfoForm.Pais}}
            </div>
            <div class="col">
              {{InfoForm.Estado.label_tag}}
              {{InfoForm.Estado}}
            </div>
          </div>
          <div class="row">
              {{InfoForm.Direccion.label_tag}}
              {{InfoForm.Direccion}}
          </div>
          <div class="row">
            <div class="col">
              {{InfoForm.TipoCocina.label_tag}}
              {{InfoForm.TipoCocina}}
            </div>
            <div class="col">
              {{InfoForm.CategoriaL.label_tag}}
              {{InfoForm.CategoriaL}}
            </div>
          </div>
          <div class="row">
            <p class="h6" style="margin-top: 20px;">
              HORARIO
            </p>
            <p>
              Recuerda que la hora es formato 24 horas
            </p>
            <div class="col">
              {{InfoForm.Apertura.label_tag}}
              {{InfoForm.Apertura}}
            </div>
            <div class="col">
              {{InfoForm.Cierre.label_tag}}
              {{InfoForm.Cierre}}
            </div>
          </div>
          <div class="row">
              {{InfoForm.Descripción.label_tag}}
              {{InfoForm.Descripción}}
          </div>
          <div class="row">
            <div class="col">
            <button type="submit" class="btn btn-light">Aceptar</button>
            </div>
            <div class="col">
              <a href="{% url 'home' %}" class="btn btn-light" style="color: #F27D16;">Cancelar</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</form>
{% endblock %}