{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .restaurante:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
    .cuadro{
            width: 8px;
            height: 16px;
            background-color: rgb(233, 232, 232);
        }

        .derecha {
            margin-right: 10px;
        }
    .rellenar{
        background-color: #F27D16;
    }
</style>
<div class="row" style="margin-top: 30px;">
    <div class="col-2">
        <div class="row">
            <div class="container d-flex justify-content-center">
                <p class="h4">Filtros</p>
            </div>
        </div>
        <div class="row d-flex align-content-start" style="height: 100%;">

            <div class="container d-flex justify-content-center">

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                          Tipo de comida
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if TipoCocinas %}
                                {% for tipo in TipoCocinas %}
                                    <div class="row" style="margin-top: 10px;">
                                        <a href="?filtro_tipo_cocina={{ tipo }}"> {{ tipo }} </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No hay filtro por tipo de comida por el momento</p>
                            {% endif %}
                        </div>
                      </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                            País
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {% if Paises %}
                                {% for pais in Paises %}
                                    <div class="row" style="margin-top: 10px;">
                                        <a href="?filtro_pais={{ pais }}"> {{ pais }} </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p> No hay filtro por tipo de país</p>
                            {% endif %}
                          </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                            Estado
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {% if Estados %}
                                {% for estado in Estados %}
                                    <div class="row" style="margin-top: 10px;">
                                        <a href="?filtro_estado={{ estado }}"> {{ estado }} </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p> No hay filtro por Estado</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                            Categoría
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            {% if Categorias %}
                                {% for categoria in Categorias %}
                                    <div class="row" style="margin-top: 10px;">
                                        <a href="?filtro_categoria={{ categoria }}"> {{ categoria }} </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p> No hay filtro por Categoría</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-10">
        <div class="container" style="padding: 20px 20px 20px 20px;">
            <div class="row">
                <div class="container">
                    <p class="d-flex justify-content-center h1">Restaurantes</p>
                </div>
            </div>
            {% if restaurantes %}
                <div class="row" style="margin-top: 50px; background-color: rgb(241, 239, 239); padding: 20px 20px 20px 20px; border-radius: 2%;">
                    {% for restaurante in restaurantes %}
                        <div class="col-4" style="margin-top: 20px;">
                            <a href="{% url 'restaurante' restaurante.id %}"
                            style="text-decoration: none; color: inherit;">
                                <div class="container restaurante" style="background-color: aliceblue; height: 100%; box-shadow: 10px 5px 5px rgb(108, 108, 108); padding: 7px 7px 7px 7px;">
                                    <div class="container-fluid d-flex h3 justify-content-center">
                                        {{restaurante.Nombre}}
                                    </div>
                                    <div class="container-fluid d-flex h6 justify-content-center">
                                        {% if restaurante.CategoriaL %}
                                            {{ restaurante.CategoriaL }}
                                        {% endif %}
                                        {% if restaurante.TipoCocina %}
                                            {{ restaurante.TipoCocina }}
                                        {% endif %}
                                    </div>
                                    <div class="col d-flex align-self-center" style="margin-bottom: 20px; margin-top: 20px;" >
                                        <div class="cuadro {% if restaurante.Promedio >= 0.5 %} rellenar {% endif %}"></div>
                                        <div class="cuadro derecha {% if restaurante.Promedio >= 1 %} rellenar {% endif %}"></div>
                                        <div class="cuadro {% if restaurante.Promedio >= 1.5 %} rellenar {% endif %}"></div>
                                        <div class="cuadro derecha {% if restaurante.Promedio >= 2 %} rellenar {% endif %}"></div>
                                        <div class="cuadro {% if restaurante.Promedio >= 2.5 %} rellenar {% endif %}"></div>
                                        <div class="cuadro derecha {% if restaurante.Promedio >= 3 %} rellenar {% endif %}"></div>
                                        <div class="cuadro {% if restaurante.Promedio >= 3.5 %} rellenar {% endif %}"></div>
                                        <div class="cuadro derecha {% if restaurante.Promedio >= 4 %} rellenar {% endif %}"></div>
                                        <div class="cuadro {% if restaurante.Promedio >= 4.5 %} rellenar {% endif %}"></div>
                                        <div class="cuadro derecha {% if restaurante.Promedio == 5 %} rellenar {% endif %}"></div>
                                    </div>
                                    <div style="width: 150px; height: 150px; overflow: hidden; margin: 0 auto; border: 1px solid #ccc;">
                                        {% if restaurante.fotoslugar_set.all %}
                                            <img src="{{ restaurante.fotoslugar_set.all.0.Imagen.url }}" alt="{{ restaurante.Nombre }}" style="width: 100%; height: 100%; object-fit: contain;">
                                        {% else %}
                                            <img src="{% static 'images/default.jpg' %}" alt="{{ restaurante.Nombre }}" style="width: 100%; height: 100%; object-fit: contain;">
                                        {% endif %}
                                    </div>
                                    <div class="container-fluid">
                                        <div class="container-fluid d-flex justify-content-center">
                                            <p>{{ restaurante.Apertura }} - {{ restaurante.Cierre }}</p>
                                        </div>
                                        <p>{{ restaurante.Pais }}, {{ restaurante.Estado }}</p>
                                        <p>{{ restaurante.Direccion }}</p>
                                        
                                    </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% else %}
            <div class="container">
                <div class="d-flex justify-content-center">
                    <p>No tienes existen restaurantes. Ayúdanos a crear un restaurante para que los demás puedan opinar</p>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'crear_restaurante' %}" class="btn btn-light" style="color: #F27D16;">Crear restaurante</a>
                </div>
            </div>
            {% endif %}
    </div>
</div>
{% endblock %}