{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .restaurante:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .restaurantes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }

  .restaurante-card {
    background-color: bisque;
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
  }

  .restaurante-card img {
    width: 100%;
    height: auto;
  }

  .restaurante-options {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 5px;
  }
</style>

<p class="h1 d-flex justify-content-center">
    Mis restaurantes
</p>
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-info" role="alert"{% endif %}>{{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="vh-50 d-flex flex-column justify-content-center align-items-center content-container">
<div class="restaurantes-container" style="margin-top: 20px;">
    {% if Elementos %}
        {% for Elemento in Elementos %}
            <div class="restaurante-card restaurante">
                <a href="{% url 'editar_restaurante' Elemento.id %}" style="text-decoration: none; color: inherit;">
                    <div class="restaurante-options">
                        <a href="{% url 'eliminar_restaurante' Elemento.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="{% url 'editar_restaurante' Elemento.id %}" class="btn btn-secondary"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
                    <div style="width: 100%; height: 150px; overflow: hidden; margin: 0 auto;">
                        {% if Elemento.fotoslugar_set.all %}
                            <img src="{{ Elemento.fotoslugar_set.all.0.Imagen.url }}" alt="{{ Elemento.Nombre }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" alt="{{ Elemento.Nombre }}">
                        {% endif %}
                    </div>
                    <p>{{ Elemento.Nombre }}</p>
                    <p>{{ Elemento.Apertura }} - {{ Elemento.Cierre }}</p>
                    <p>{{ Elemento.Pais }}, {{ Elemento.Estado }}</p>
                    <p>{{ Elemento.Direccion }}</p>
                    {% if Elemento.CategoriaL %}
                        <p>{{ Elemento.CategoriaL }}</p>
                    {% endif %}
                    {% if Elemento.TipoCocina %}
                        <p>{{ Elemento.TipoCocina }}</p>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-8 text-center">
            <p>No tienes restaurantes</p>
            <a href="{% url 'crear_restaurante' %}" class="btn btn-light" style="color: #F27D16;">Crear restaurante</a>
        </div>
    {% endif %}
</div>
</div>
{% endblock %}